{% load static %}
<!DOCTYPE html>
<html Lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Tutor Amigo - Página Inicial</title>
</head>

<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="static/images/tutor_amigo_logo.png" alt="logo" class="logo"></a>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Página Inicial</a></li>
                    <li><a href="#">Cadastrar</a></li>
                    <li><a href="#">Animais Cadastrados</a></li>
                    <li><a href="#">Adotar</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </nav>
        </header>
    </section>
</body>

</html>